/* .. */
<div class="table" >
  <table class="table2" border="10" > 
      <tr>
          <td>produto</td>
          <td>id</td>
          <td>fornecedor</td>
          <td>tipo</td>
          <td>custo</td>
          
      </tr>
      <tr  *ngFor="let p of prods">
              <td>{{p.produto}}</td>
              <td>{{p.id}}</td>
              <td>{{p.fornecedor}}</td>
              <td>{{p.tipo}}</td>
              <td>{{p.custo}}</td>
              <td>
                  <button type="button" (click)="onSelect(p)">Editar Produto</button>
              </td>
          </tr>
  
  </table>
  </div>